<nav id="burger">
    <ul class="btnUl">
        <li class="btnNav" onClick="reloadThePage()"><a href="">Home</a></li>
        <li class="btnNav" onClick="reloadThePage()"><a href="">Index</a></li>
        <li class="btnNav" onClick="reloadThePage()"><a href="">Products</a></li>
        <li class="btnNav" onClick="reloadThePage()"><a href="">Contact</a></li>
    </ul>
</nav>